<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

<div th:replace="~{header :: header}"></div>

<main>
    <div class="description_container">
        <div class="description">
            <div class="main_idea">
                <b>Emergency Notification System</b> – is an application designed for the fast and efficient distribution of notifications, messages, and files via email.
                The system is aimed at organizations and businesses that need to urgently inform employees, clients, or groups of people.
            </div>

            <div class="functions">
                <b>Key Features:</b>
                <ol>
                    <li>Message and File Distribution:
                        <ul>
                            <li>Sending text notifications via email.</li>
                            <li>The ability to attach files to emails.</li>
                        </ul>
                    </li>
                    <li>Contact Upload Support:
                        <ul>
                            <li>Importing contact data from .csv files.</li>
                            <li>Automatic processing of uploaded files to generate recipient lists.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>